@import "common/common.scss";
@import "common/device.scss";

[data-theme="dark"] {
  .post_box {
    --tw-border-opacity: 1;
    border: 1px solid rgb(51 65 85);
    @include desktop {
      &:hover {
        border: 1px solid #ffffff;
      }
    }
  }
}
.post_box:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.post_box {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;

  .post_imageBox {
    width: 100%;
    height: 230px;
    position: relative;
    border-bottom: 0.5px solid #e2e2e2;

    .post_thumbnail {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0px;
      object-fit: cover;
    }
  }

  .post_content {
    padding: 1rem;
    padding-top: 0.5rem;

    color: var(--color-text1);
    .post_category {
      font-size: $font-size16;
      color: $orange;
      font-weight: 800;
    }
    .post_title {
      font-size: $font-size18;
      font-weight: 600;
      margin: 0.8rem 0 1rem;
    }

    .post_date {
      font-size: $font-size14;
    }
  }
}
