:root {
  --text-light: #333;
  --text-dark: #fff;

  --background-light1: #fafafa;
  --background-dark1: #282c35;

  --background-dark2: #242a32;

  --background-light3: #f5f5f5;
  --background-dark3: #1e222b;
}

body {
  font-family: Pretendard;
  font-weight: 450;
}

body[data-theme="light"] {
  background: var(--background-light1);
  color: var(--text-light);

  --color1: var(--text-light);
  --background1: var(--background-light1);
  --background2: var(--background-light1);
  --background3: var(--background-light3);
}

body[data-theme="dark"] {
  background: var(--background-dark1);
  color: var(--text-dark);

  --color1: var(--text-dark);
  --background1: var(--background-dark1);
  --background2: var(--background-dark2);
  --background3: var(--background-dark3);
}

@font-face {
  font-family: "Pretendard";

  src: url("/fonts/Pretendard.ttf") format("truetype");
}
