@import "common/device.scss";

.toc_container {
  position: absolute;
  display: block;
  left: 100%;

  @include tablet {
    display: none;
  }

  .toc_div {
    position: fixed;
    margin-left: 20px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
  }
}
