/* font-size */
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size20: 20px;
$font-size40: 40px;

/* main color */
$orange: #ed7458;
$gray: #f0f0f0;

/* Breakpoints */

$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
