@import "common/common.scss";

.writing_container {
  line-height: 1.7;
  font-size: 1.1rem;

  h2 {
    margin: 1rem 0 0.5rem;
    font-size: 1.8rem;
  }
  h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.6rem;
  }
  ul {
    list-style: circle;
  }
  ol {
    padding-left: 1.5rem;
  }

  p {
    word-break: keep-all;

    code {
      padding: 0.1rem 0.4rem;
      margin-right: 0.25rem;
      font-weight: 600;
      border-radius: 5px;
      color: #f1613f;
      background-color: #ffebe7;
    }

    img {
      width: 300px;
      height: 400px;
    }
  }

  a {
    display: inline;
    color: $orange;
    text-decoration: underline;
  }

  pre {
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 10px;
    overflow: auto;
    code {
      font-size: 1.1rem;
    }
  }

  blockquote {
    margin: 1rem 0;
    padding: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 4px solid $orange;
    word-wrap: break-word;

    background: var(--color-background3);

    p {
      font-size: 1.05rem;
    }
  }
}
