@import "common/common.scss";

.home {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 48px;
    color: $orange;
  }

  .dropdown_menu {
    margin-bottom: 15px;
    .category {
      font-size: 24px;
    }
  }
}
