@import "common/common.scss";
@import "common/device.scss";

.home {
  width: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 48px;
    color: $orange;

    @include mobile {
      display: none;
    }
  }
}
