@import "common/common.scss";

.pagination_container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  .pagination {
    display: flex;
    gap: 10px;
    .btn {
      font-size: 20px;
      width: 40px;
      height: 40px;
      border: 1px solid $gray;
      border-radius: 5px;
    }
  }
}
