.header {
  width: 100%;

  height: 80px;
  display: flex;
  justify-content: space-around;
  // background: #f2f2f2;

  a {
    color: black;
    font-size: 1.5rem;
  }
  .navbar {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .nav_right {
      display: flex;
      a {
        margin-left: 15px;
      }
    }
  }
}
