@import "common/common.scss";

.header {
  width: 100%;

  height: 80px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #ffffff;

  a {
    color: black;
    font-size: 2rem;
    // font-weight: 500;
  }

  .navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 768px;
    .nav_left {
      display: flex;
      align-items: center;
      p {
        color: $orange;
      }
    }

    .nav_right {
      display: flex;
    }
  }
}
